:root {
  --radius-ten: 10px;
  --radius-eigh: 8px;
  --radius-four: 4px;
  --transition: all 0.4s ease-in-out;
  --light-green: #2cb5b9;
  --white: #ffffff;
  --black: #2a313c;
  --red: #EB5757;
  --blue: #2F80ED;
  --font-family: 'GothamPro';
}

//Light Theme
[data-theme="light"] {

}

//Dark Theme
[data-theme="dark"] {

}
